/** fix pretty-print tommorrow night 80 */
.prettyprint {
	padding-left: 0px;
	padding-right: 0px;
}
.prettyprint code{
  	background: #1d1f21;
  	padding-left: 0px;
	padding-right: 0px;
}
body{
	padding: 0;
}
h1 {
	line-height: 1em;
	font-weiht: 700;
	color: #cd0030;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:active {
	color: #0066ce;
}
tt, code, kbd, samp {
	font-family: 'Source Code Pro', monospace;
}
#nav{
	border-right: solid 1px #ddd;
	padding: 0;
	padding-left: 10px;
	margin: 0;
	width: 220px;
}
#main{
	calc(100% - 220px);
	padding-left: 0;
	margin-left: 0;
	padding : 20px;
}
.prettyprint.linenums li.selected, .prettyprint.linenums li.selected *{
   background-color: #F4DE36;
}
.name{
	color: #cd0030;
	font-weight: bold;
}
nav ul li a, nav ul li ul li a {
	color: #0066ce;
}
nav ul li a:hover, nav ul li ul li a:hover{
	color: #0066ce;
	text-decoration: underline;
}
h3.group-title{
	color: #cd0030;
}
dl.inherited-line{
	border-bottom: 1px solid hsl(0, 0%, 87%);
  	/* margin-bottom: 30px;
 	padding-bottom: 30px; */
}
input.search{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 1000px;
	padding : 5px 8px;
	border: 1px solid #ddd;
}
input.search:focus{
	background: #FFF;
	border: 0;
	outline: 0;
	box-shadow: 0 0 5px 2px #0066ce;
}
.className{
	color : #cd0030;
}
